{% extends 'base.html.twig' %}

    {% block body %}
        
<div class="section no-pad-bot" id="index-banner">
    <div class="container">      
      <div id="container-list-assemble">

        <h3>Mes assemblés</h3>
        
        <table>
          {% for assemble in assembles %}
          
            <tr>
                <td>
                     <h3>{{ assemble.title }}</h3>
                </td>
                <td>
                <a href="{{ path('assemble-details', {'id': assemble.id}) }}" class=" blue lighten-3 btn pull-right" style="margin-left: 0px;">Voir details</a>
                </td>
            </tr>   
          {% endfor %}
        </table>

    </div>
  </div>
</div>


    {% endblock %}

